<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    {{!-- If we didn't do static path we'd have a much longer file name --}}
    <title>Pokemon Types</title>
</head>
<body>
    {{{body}}}
    {{!-- Any HTML in another hbs will be rendered here --}}
</body>
</html>